@page
@using FiyiStackWeb.Areas.CMSCore.Models
@model FiyiStackWeb.Areas.CMSCore.Pages.MenuNonQueryPageModel
@{
    Layout = "_LayoutDashboard";

    string NonQueryText = "";
    string NonQueryIcon = "";

    int MenuId;
    string Name;
    int MenuFatherId;
    int Order;
    string URLPath;
    string IconURLPath;
    

    if(HttpContext.Request.QueryString.Value.Contains("?MenuId=0"))
    {
        NonQueryText = "Add";
        NonQueryIcon = "fas fa-plus";

        MenuId = 0;
        Name = "";
        MenuFatherId = 0;
        Order = 0;
        URLPath = "";
        IconURLPath = "";
        
    }
    else
    {
        NonQueryText = "Edit";
        NonQueryIcon = "fas fa-pen";

        MenuModel MenuModel = new MenuModel().Select1ByMenuIdToModel
        (Convert.ToInt32(HttpContext.Request.QueryString.Value.Replace("?MenuId=","")));

        MenuId = MenuModel.MenuId;
        Name = MenuModel.Name;
        MenuFatherId = MenuModel.MenuFatherId;
        Order = MenuModel.Order;
        URLPath = MenuModel.URLPath;
        IconURLPath = MenuModel.IconURLPath;
        
    }

/*
 * GUID:e6c09dfe-3a3e-461b-b3f9-734aee05fc7b
 * 
 * Coded by fiyistack.com
 * Copyright © 2023
 * 
 * The above copyright notice and this permission notice shall be included
 * in all copies or substantial portions of the Software.
 * 
 */
    
//Stack: 11
//Last modification on: 15/02/2023 18:14:40

}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <!-- Header body -->
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <!-- Title -->
                    <h2 class="h2 text-white d-inline-block mb-0">
                        @NonQueryText 
                        menu
                    </h2>
                    <input type="hidden" 
                        id="cmscore-menu-menuid-input" 
                        value="@MenuId"/>
                    <!-- Breadcrumb -->
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item">
                                <a href="/CMSCore/DashboardIndex">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    CMS (Core)
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">
                                    Menu
                                 </a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <i class="@NonQueryIcon"></i>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <!-- XL Screens -->
                    <div class="d-none d-xl-inline">
                        <a href="/CMSCore/MenuQueryPage" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i> Go back
                        </a>
                    </div>
                    <!-- Other Screens -->
                    <div class="d-inline d-sm-inline d-md-inline d-lg-inline d-xl-none">
                        <a href="/CMSCore/MenuQueryPage" class="btn btn-secondary">
                            <i class="fas fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
<div class="row">
    <div class="col">
            <!-- Card -->
            <div class="card">
                <!-- Card body -->
                <div class="card-body">
                    <form class="needs-validation" novalidate>
                        <!-- Name -->
                        <div class="form-group mb-3">
                            <label for="cmscore-menu-name-input" class="form-control-label">
                                <i class="fas fa-font"></i> Name
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="200" 
                                type="text" 
                                id="cmscore-menu-name-input" 
                                value="@Name"
                                />
                            
                        </div>
                        <!-- MenuFatherId -->
                        <div class="form-group mb-3">
                            <label for="cmscore-menu-menufatherid-input" class="form-control-label">
                                <i class="fas fa-divide"></i> 
                                Menu Father ID
                            </label>
                            <input class="form-control" 
                                type="number" 
                                id="cmscore-menu-menufatherid-input" 
                                value="@MenuFatherId" 
                                min="0" 
                                max="2147483647" 
                                step="1" 
                                pattern="[^0-9]"
                                />
                            
                        </div>
                        <!-- Order -->
                        <div class="form-group mb-3">
                            <label for="cmscore-menu-order-input" class="form-control-label">
                                <i class="fas fa-divide"></i> 
                                Order
                            </label>
                            <input class="form-control" 
                                type="number" 
                                id="cmscore-menu-order-input" 
                                value="@Order" 
                                min="0" 
                                max="2147483647" 
                                step="1" 
                                pattern="[^0-9]"
                                />
                            
                        </div>
                        <!-- URLPath -->
                        <div class="form-group mb-3">
                            <label for="cmscore-menu-urlpath-input" class="form-control-label">
                                <i class="fas fa-font"></i> URL Path
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="8000" 
                                type="text" 
                                id="cmscore-menu-urlpath-input" 
                                value="@URLPath"
                                />
                            
                        </div>
                        <!-- IconURLPath -->
                        <div class="form-group mb-3">
                            <label for="cmscore-menu-iconurlpath-input" class="form-control-label">
                                <i class="fas fa-font"></i> Icon URL Path
                            </label>
                            <input class="form-control" 
                                min="1" 
                                max="8000" 
                                type="text" 
                                id="cmscore-menu-iconurlpath-input" 
                                value="@IconURLPath"
                                />
                            
                        </div>
                        
                        <!-- Buttons -->
                        <div class="row justify-content-between">
                            <button class="btn btn-primary text-nowrap ml-3 mt-4" 
                                type="submit">
                                    <i class="@NonQueryIcon"></i> 
                                    @NonQueryText
                            </button>
                            <a href="/CMSCore/MenuQueryPage" 
                                class="btn btn-outline-primary col-auto mr-3 mt-4 text-nowrap">
                                    <i class="fas fa-angle-left"></i> 
                                    Go back
                            </a>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Card footer -->
            <div class="card-footer py-2">
            </div>
        </div>
    </div>
</div>

<!-- ForeignKeyDropDown selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <!-- Modal -->
        <div class="modal fade" id="modal-foreign-key-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-foreign-key-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <!-- Modal content -->
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">
                            Choose a ForeignKeyDropDown value <i class="fas fa-hashtag"></i>
                         </h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select id="cmscore-menu-foreignkeydropdown-select" class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Choose value" data-allow-reset="true">
                                        <option value="0"></option> <!--This must be empty-->
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Phone code Selector in Modal style -->
<div class="row">
    <div class="col-md-4">
        <div class="modal fade" id="modal-phone-code-selector" tabindex="-1" role="dialog" aria-labelledby="modal-phone-code-selector" aria-hidden="true">
            <div class="modal-dialog modal-secondary modal-dialog-centered modal-" role="document">
                <div class="modal-content bg-gradient-secondary">
                    <div class="modal-header">
                        <h6 class="modal-title text-primary">Choose your phone code <i class="fas fa-globe-americas"></i></h6>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <div class="input-group input-group-merge input-group-alternative">
                                    <select class="form-control" data-toggle="select" title="Simple select" data-live-search="true" data-live-search-placeholder="Country (+Code)" data-allow-reset="true">
                                        <option></option> <!--This must be empty-->
                                        <option>Argentina (+54)</option>
                                        <option>USA (+1)</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-primary ml-auto" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/BasicCore/jquery-3.6.1.min.js"></script>
<script src="/assets/vendor/quill/dist/quill.min.js"></script>
<script src="/js/CMSCore/Menu/jQuery/MenuNonQuery_jQuery.js"></script>
